.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  min-height: 100vh;
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.animatedText {
  color: #00FFFF;
  background-color: #160af7;
  text-shadow: 3px 3px 3px #000000; /* 3D風の影 */
  animation: float 2s ease-in-out infinite; /* 2秒後に浮かび上がるアニメーション */
}

.buttonStyle {
  background-color: #160af7;
  color: #00FFFF;
  border: 0.1rem solid #00FFFF;
  padding: 0.25rem 0.25rem;
  margin: left 2rem;
  margin:right 2rem;
  border-radius: 1rem;
  cursor: pointer;
  font-weight: bold;
  font-family: var(--font-mono);
  transition: background-color 0.3s;
}

@keyframes float {
  0% {transform: translateY(0px);}
  50% {transform: translateY(-10px);}
  100% {transform: translateY(0px);}
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
